/*
// 2. Vendors
@import "vendors/normalize";

*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ecf0f3;
}
* :focus {
  outline: none;
  background-color: #d1d9e6;
}
* :disabled {
  background-color: #575757;
}

i {
  background-color: transparent;
  user-select: none;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  line-height: 140%;
}
@media only screen and (max-width: 767px) {
  * {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
  }
}

header {
  position: fixed;
  z-index: 1;
  height: 80px;
  padding: 0 20px;
  width: 100vw;
  box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #d1d9e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  header {
    justify-content: flex-end;
  }
  header .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
header .logo {
  height: 65px;
  max-width: 60%;
}
header .dropdown__btn {
  cursor: pointer;
}
header .dropdown__content {
  display: none;
  position: absolute;
  right: 0;
  top: 100px;
  background-color: #ecf0f3;
  padding: 10px 60px 10px 10px;
}
@media only screen and (max-width: 767px) {
  header .dropdown__content {
    top: 90px;
  }
}
@media screen and (min-width: 768px) {
  header .dropdown__content {
    min-width: 250px;
    max-width: 40vw;
  }
}
@media only screen and (max-width: 420px) {
  header .dropdown__content {
    width: 85vw;
  }
}
header .dropdown__content__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
header .dropdown__content__text p {
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #091f43;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  header .dropdown__content__text p {
    font-size: 18px;
  }
}
header .dropdown__content__text .custom-file-upload {
  display: inline-block;
  position: relative;
  height: 45px;
  line-height: 45px;
  padding: 0 5px;
  margin-top: 10px;
}
header .dropdown__content__text .custom-file-upload:hover {
  background-color: #d1d9e6;
}
header .dropdown__content__text .custom-file-upload input[type=file] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
header .dropdown__content__text .custom-file-upload span {
  background-color: transparent;
}
header .dropdown__content__text a {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  padding: 0 5px;
  text-decoration: none;
}
header .dropdown__content__text a:hover {
  background-color: #d1d9e6;
}
header .show {
  display: block;
}

main {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  main {
    padding-top: 100px;
  }
}

.bloc {
  border-radius: 20px;
  box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #d1d9e6;
}
@media screen and (min-width: 767px) {
  .bloc {
    min-width: 400px;
    width: 60ch;
    max-width: 60vw;
    padding: 25px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .bloc {
    width: 100vw;
    padding: 15px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .bloc {
    border-radius: 0;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  80% {
    fill: transparent;
  }
  100% {
    fill: #d1515a;
  }
}
button {
  height: 50px;
  padding: 10px 20px;
  border: none;
  box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #d1d9e6;
  border-radius: 20px;
}

.formSubmit {
  background-color: #d1515a;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: white;
}
@media only screen and (max-width: 767px) {
  .formSubmit {
    font-size: 18px;
  }
}
.formSubmit:focus {
  background-color: #d1d9e6;
}

.formExit {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #091f43;
}
@media only screen and (max-width: 767px) {
  .formExit {
    font-size: 16px;
  }
}

input {
  height: 50px;
  padding: 10px 20px;
  border: none;
  box-shadow: inset -2px -2px 8px #ffffff, inset 2px 2px 8px #d1d9e6;
  border-radius: 20px;
}
input:focus {
  box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #d1d9e6;
}

textarea {
  padding: 10px 20px;
  border: none;
  box-shadow: inset -2px -2px 8px #ffffff, inset 2px 2px 8px #d1d9e6;
  border-radius: 20px;
}
textarea:focus {
  box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #d1d9e6;
}

@media only screen and (min-width: 1366px) {
  .logo--icon {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .logo--icon {
    display: none;
  }
}
.logo--typography {
  display: none;
}
@media only screen and (max-width: 767px) {
  .logo--typography {
    display: block;
  }
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  height: 60px;
  width: 60px;
  border: 0px solid #d1d9e6;
  transition: 0.1s;
}
@media only screen and (max-width: 767px) {
  .avatar {
    height: 50px;
    width: 50px;
  }
}
.avatar:focus {
  border: 5px solid #d1d9e6;
  transition: 0.1s;
}

.comments__comment .avatar {
  height: 55px;
  width: 55px;
}
@media only screen and (max-width: 767px) {
  .comments__comment .avatar {
    height: 45px;
    width: 45px;
  }
}

.adminLine {
  margin-left: auto;
  display: flex;
}

.adminDelete {
  width: 50px;
  margin-bottom: 10px;
  padding: 0;
  border-radius: 50%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.adminDelete i {
  color: #d12f39;
}
.adminDelete :hover {
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .adminDelete {
    width: 40px;
    height: 40px;
    margin-left: 15px;
  }
}
.adminDelete__comments {
  margin-left: auto;
  width: 40px;
  height: 40px;
}

.adminApprove {
  width: 50px;
  margin-bottom: 10px;
  padding: 0;
  border-radius: 50%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.adminApprove i {
  color: #479d10;
}
.adminApprove :hover {
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .adminApprove {
    width: 40px;
    height: 40px;
    margin-left: 15px;
  }
}

.report {
  width: 50px;
  margin-bottom: 10px;
  padding: 0;
  border-radius: 50%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.report i {
  color: #091f43;
}
.report :hover {
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .report {
    width: 40px;
    height: 40px;
    margin-left: 15px;
  }
}

.adminReport {
  width: 50px;
  margin-bottom: 10px;
  padding: 0;
  border-radius: 50%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.adminReport i {
  color: #e1541f;
}
@media only screen and (max-width: 767px) {
  .adminReport {
    width: 40px;
    height: 40px;
    margin-left: 15px;
  }
}

.connexion {
  height: 100vh;
  display: grid;
  place-items: center;
}
.connexion__wrapper .logo {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .connexion__wrapper .logo {
    width: 80%;
    margin: 0 10%;
  }
}
.connexion__wrapper form .container {
  display: flex;
}
.connexion__wrapper form :nth-child(1) {
  flex-direction: column;
}
.connexion__wrapper form :nth-child(2) {
  justify-content: space-between;
  align-items: baseline;
}
.connexion__wrapper form :nth-child(2) .formQuestion {
  padding: 10px 20px;
}
.connexion__wrapper form label {
  font-size: 1px;
  line-height: 1px;
  opacity: 0;
}
.connexion__wrapper form input {
  margin: 1vw;
}
.connexion__wrapper form button {
  margin: 1vw;
}

.inscription header .dropdown {
  display: none;
}
.inscription form input,
.inscription form label {
  display: block;
}
.inscription form button {
  margin: 10px 0;
}
.inscription form input {
  max-width: 100%;
  width: 100%;
}
.inscription form label {
  margin-bottom: 5px;
}
.inscription form label,
.inscription form .label {
  margin-left: 20px;
  color: #091f43;
  font-weight: 500;
}
.inscription form .container {
  display: flex;
}
.inscription form .container div {
  margin: 10px 0;
}
.inscription form :nth-child(1) {
  flex-direction: column;
}
.inscription form :nth-child(2) {
  justify-content: space-between;
  align-items: baseline;
}
.inscription form .name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inscription form .passwordLine {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.inscription form .passwordLine input {
  width: 90%;
}
.inscription form .passwordLine i {
  margin: 0 20px;
  color: #091f43;
  font-size: 30px;
  cursor: pointer;
}
.inscription form .message {
  display: none;
  padding-left: 20px;
  list-style-position: inside;
}
.inscription form .message p {
  color: #091f43;
  padding-left: 0;
  padding-bottom: 5px;
  font-weight: 500;
}
.inscription form .message li {
  color: #091f43;
}
.inscription form .valid {
  display: none;
}
.inscription form .invalid {
  display: list-item;
}
.inscription form .imgUpload b {
  color: #091f43;
  font-weight: 400;
}
.inscription form .imgUpload input[type=file] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.inscription form .imgUpload .custom-file-upload {
  display: inline-block;
  cursor: pointer;
  width: max-content;
  border-radius: 20px;
  box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #d1d9e6;
  height: 50px;
  margin: 10px 0;
  padding: 10px 20px;
}
.inscription form .imgUpload__line {
  display: flex;
  align-items: center;
}

.filActualite i {
  font-size: 40px;
}
@media only screen and (max-width: 420px) {
  .filActualite i {
    font-size: 35px;
  }
}
.filActualite .writeLine {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.filActualite .writeLine label {
  font-size: 1px;
  line-height: 1px;
  opacity: 0;
}
.filActualite .writeLine textarea {
  resize: none;
  overflow: hidden;
  display: block;
  box-sizing: padding-box;
  width: 100%;
  max-width: 50ch;
  margin-left: 10px;
  margin-right: 10px;
}
.filActualite .writeLine button {
  height: min-content;
  width: min-content;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  box-shadow: none;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filActualite .writeLine button i {
  color: #091f43;
}
.filActualite .imagePreview {
  display: flex;
  justify-content: center;
}
.filActualite .imagePreview img {
  width: 100%;
  margin-top: 10px;
  display: none;
}
.filActualite .comments {
  display: none;
}
.filActualite .comments .writeLine {
  margin-bottom: 40px;
}
@media only screen and (max-width: 767px) {
  .filActualite .comments .writeLine {
    margin-bottom: 20px;
  }
}
.filActualite .comments__comment {
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .filActualite .comments__comment {
    margin-bottom: 15px;
  }
}
.filActualite .show-comments {
  display: block;
}
.filActualite .post__line--media {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 420px) {
  .filActualite .post__line--media {
    justify-content: flex-start;
  }
}
.filActualite .post__line--media .custom-file-upload {
  display: inline-block;
  position: relative;
  height: 50px;
  width: 50px;
  margin-top: 10px;
  border-radius: 50%;
  box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #d1d9e6;
}
.filActualite .post__line--media .custom-file-upload:nth-of-type(2) {
  margin-left: 10px;
}
.filActualite .post__line--media .custom-file-upload input[type=file] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.filActualite .post__line--media .custom-file-upload i {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #091f43;
}
.filActualite .idLine {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.filActualite .idLine .firstName {
  margin-left: 10px;
  margin-right: 5px;
}
.filActualite .idLine span {
  font-weight: 700;
  color: #091f43;
}
.filActualite .publication {
  margin-bottom: 20px;
}
.filActualite .publication__content img {
  width: 100%;
}
.filActualite .publication__content p {
  margin: 10px 0;
}
.filActualite .reactionLine {
  display: flex;
}
.filActualite .reactionLine i {
  cursor: pointer;
  color: #d1515a;
  transition: 0.2s;
}
.filActualite .reactionLine i:focus {
  background-color: transparent;
  transform: rotate(5deg);
  transition: 0.2s;
}
.filActualite .reactionLine--comments {
  margin-left: 20px;
}

/*# sourceMappingURL=styles.css.map */
